<p id="notice"><%= notice %></p>

<h2>Your bowls are displayed here</h2>
<br/><br/>
<table>
  <tr>
  	<td>
		<ul class="listview">
			<% @bowls.each do |bowl| %>
	        <li class="bg-color-white border-color-blue">
	        	<div class="icon" style="background-color: <%= bowl.colour %>">
                	<%= image_tag('empty-bowl.png') %>
            	</div>
	            <div class="data">
	                <h4><%= bowl.name %></h4>
	                <p><%= bowl.description %></p>
					<div class='toolbar' align="right">
				    	<%= link_to (edit_bowl_path(bowl), :class => 'button') do %>
							<img src='/assets/pencil1.png' title="Edit Bowl"/>
				    	<% end %> 
				    	<%= link_to (bowl, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'button') do %>
							<img src='/assets/cancel1.png' title="Delete Bowl"/>
				    	<% end %>
				    </div>																	                
	            </div>
	        </li>
	        <% end %>
	    </ul>  		
  	</td>
  </tr>
</table>

<br />

<%= link_to 'New Bowl', new_bowl_path, :class => 'button' %>
