<p id="notice"><%= notice %></p>

<h2>Your bowls are displayed here</h2>
<br/><br/>
<table>
  <tr>
  	<td>
		<ul class="accordion span10" date-role="accordion">
			<% @bowls.each do |bowl| %>
	        <li class="active">
	        	<a href="#"><%= bowl.name %></a>
	            <div>
		        	<div class="icon" style="background-color: <%= bowl.colour %>">
	                	<%= image_tag('empty-bowl.png') %>
	            	</div>	            	
	                <p><%= bowl.description %></p>
					<div class='toolbar' align="right">
				    	<%= link_to(edit_bowl_path(bowl)) do %>
							<img src='/assets/pencil1.png' title="Edit Bowl"/>
				    	<% end %> 
				    	<%= link_to(bowl, :method => :delete, :data => { :confirm => 'Are you sure?' }) do %>
							<img src='/assets/cancel1.png' title="Delete Bowl"/>
				    	<% end %>
				    </div>																	                
	            </div>
	        </li>
	        <% end %>
	    </ul>  		
  	</td>
  </tr>
</table>

<br />

<%= link_to 'New Bowl', new_bowl_path, :class => 'button' %>
