<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<table>
		<tbody>
			<tr>
				<td width="10%" valign="top" style="padding-top: 30px">
					<div class="image-container bg-color-white" style="width: 123px;">
        			<% unless @user.picture == nil %>
        				<%= image_tag('/assets/users/' + @user.picture, :size => '123x129') %>
        			<% end %>
				</td>
				<td width="40%" valign="top">
					<fieldset>
						<legend>Required</legend>	
						<div class="input-control text span5">
							<%= f.label :email %><br />
							<%= f.text_field :email %>
						</div>
						<div class="input-control text span4">
							<%= f.label :firstname %><br />
							<%= f.text_field :firstname %>
						</div>
						<div class="input-control text span4">
							<%= f.label :lastname %><br />
							<%= f.text_field :lastname %>
						</div>
						<div class="input-control password span3">
							<%= f.label :password, 'Password' %><br />
							<%= f.password_field :password, :size => 20 %>
						</div>
						<div class="input-control password span3">
							<%= f.label :password_confirmation, 'Confirm' %><br />
							<%= f.password_field :password_confirmation, :size => 20 %>
						</div>
					</fieldset>					
				</td>
				<td width="40%" valign="top">
					<fieldset>
						<legend>Optional</legend>	
						<div class="input-control text span3">
							<%= f.label :dob %> (MM/DD/YYYY)<br />
							<%= f.text_field :dob %>
						</div>
						<div class="input-control text span2">
							<%= f.label :height %> (cms)<br />
							<%= f.text_field :height %>
						</div>
						<div class="input-control text span2">
							<%= f.label :weight %> (Kgs)<br />
							<%= f.text_field :weight %>
						</div>
					</fieldset>					
				</td>
				<td width="10%"/>
			</tr>
		</tbody>
	</table>
	
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
