<h1>Users</h1>
<br/><br/>

<div class="clearfix">
<% @users.each do |user| %>
	<div class="tile double bg-color-white border-color-blueLight">
		<div class="tile-content fg-color-blue">
			<%= image_tag('/assets/users/' + user.picture, :class=> 'place-left') %>
			<h4 style="margin-bottom: 5px;"><%= user.firstname %></h4>
			<p>
				<%= user.firstname%> <%= user.lastname %><br/>
				<%= user.email %><br/><br/><br/>
				<div class='toolbar' align="right">
			    	<%= link_to (user) do %>
						<img src='/assets/eye.png' title="See Profile"/>
			    	<% end %> 					
			    	<%= link_to (edit_user_path(user)) do %>
						<img src='/assets/pencil1.png' title="Edit Profile"/>
			    	<% end %> 
			    	<%= link_to (user, :method => :delete, :data => { :confirm => 'Are you sure?' }) do %>
						<img src='/assets/cancel1.png' title="Delete User"/>
			    	<% end %>
			    </div>																
			</p>
			<div class="brand">
				<span class="name">
					<% if user.role == 0 %>Admin
					<% else %>Normal
					<% end %>
				</span>
			</div>
		</div>	
	</div>
<% end %>
</div>

<br />

<%= link_to 'New User', new_user_path %>
